[Unit]
Description=Runner for Collector
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/opt/app
ExecStart=/opt/app/bin/collector foreground
Restart=on-failure
RestartSec=5
SyslogIdentifier=collector
RemainAfterExit=No
Environment=MIX_ENV=prod

[Install]
WantedBy=multi-user.target